.quiz-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    column-gap: 20px;
}

.quiz-info{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.quiz-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .quiz-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
  }