.option-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
    border: 1px solid rgb(228, 155, 9);
    border-radius: 10px;
    padding: 2px;
    width: 250px;
    height: 70px;
    color:black;
}

.option-container:hover{
    background-color: rgb(243, 236, 218);
}

.option-container span{
    padding: 5px;
}

